body {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #757f9a, #d7dde8);
  background: linear-gradient(to right, #757f9a, #d7dde8); }

div#scramble {
  display: block;
  max-width: 700px;
  margin: auto; }
  div#scramble fieldset div#inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    div#scramble fieldset div#inputs div.input {
      flex-grow: 0;
      flex-basis: 45%;
      flex-shrink: 2;
      display: grid; }
    div#scramble fieldset div#inputs button {
      flex-grow: 0;
      flex-basis: 21%;
      margin-top: 15px; }
